.container {
  height: auto;
  margin-top: 200px;
  padding: 100px 0 0 0;
}

.sectionTitle {
  text-transform: uppercase;
  /* color: #38b6ff; */
  color: #1279c8;
  font-weight: 400;
  font-size: 22px;
}

.sectionDescription {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    height: 800px;
    padding: 110px 0 0 0;
  }
}

@media screen and (min-width: 1008px) {
  .container {
    padding: 125px 0 0 0;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    padding: 250px 0 0 0;
  }
}
