.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   .container {
    height:800px;
    max-width: 1600px;
    margin:0 auto;
    padding:250px 0 0 0
    /* max-width: 1600px; */
   }

   .subtitle {
    text-transform: uppercase;
    color: #38b6ff;
   }

  @media screen and (min-width: 768px) {
    .grid {
      align-items: center;
      display: grid;
      /* justify-content: space-evenly;
      justify-items: center;
      align-content: space-evenly;
      align-items: center; */
      grid-template-columns: auto auto;
      /* grid-gap: 10px; */
      /* flex-wrap: wrap; */
      max-width: 1200px;
      width: 100%;
      margin:auto;
      grid-template-columns: 1.5fr 1fr;
      grid-gap:0 50px;
    }
  }
  
   .textCol {
      /* border:1px solid red; */
  } 
  
  .imageCol {
      /* border:1px solid red; */
      height: 100%;
  } 
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  