.container {
  height: auto;
  margin: 0 auto;
  padding: 500px 0 0 0;
}

.sectionTitle {
  text-transform: uppercase;
  color: #38b6ff;
  font-weight: 400;
  font-size: 22px;
}

.sectionDescription {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    height: 800px;
  }
}

@media screen and (min-width: 1008px) {
  .container {
    /* padding: 250px 0 0 0; */
    padding: 350px 0 0 0;
  }
}
