.container {
  height: auto;
  padding: 100px 0 0 0;
  max-width: 1500px;
  margin-top: 50px;
}

.sectionTitle {
  text-transform: uppercase;
  /* color: #38b6ff; */
  color: #1279c8;
  font-weight: 400;
  font-size: 22px;
}

.sectionDescription {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.links {
  text-transform: uppercase;
  justify-content: space-around;
  display: flex;
  margin-top: 60px;
  width: 250px;
  margin: 50px auto;
}

.link {
  cursor: pointer;
  font-size: 1.2rem;
  padding-bottom: 3px;
}

.experienceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0 auto;
}

.active {
  /* border-bottom: 3px solid #38b6ff; */
  border-bottom: 3px solid #1279c8;;
}

@media screen and (min-width: 768px) {
  .experienceContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .container {
    margin-top: 200px;
  }
}

@media screen and (min-width: 1008px) {
  .container {
    margin-top: 250px;
  }
}
