.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  gap: 30px 0;
}

.container {
  /* padding: 250px 0 0 0; */
  padding: 350px 0 0 0;
  /* height: auto; */
}

.sectionTitle {
  text-transform: uppercase;
  color: #38b6ff;
  font-weight: 400;
  font-size: 22px;
}

.sectionDescription {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.bodyText {
  font-size: 1.3rem;
}

.img {
  /* border-radius: 10px;
  width: 100%;
  height: auto; */
  /* border-radius: 50%; */
  border-radius: 10px;
  height: auto;
  width: 180px;
  height: 250px;
  object-fit: cover;
}

.imageCol,
.imageAboveCopy {
  /* height: auto; */
  /* border-radius: 50%; */
  border-radius: 10px;
  height: auto;
  width: 200px;
  height: 270px;
  display: flex;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  object-fit: cover;
  /* padding: 10px; */
  /* border-radius: 10px; */
  background-color: #fff;
  box-shadow: 0 0px 20px rgb(0 0 0 / 15%);
  position: relative;
}

.imageAboveCopy {
  margin: 30px 0;
}

.projectsLink {
  display: inline-block;
  text-decoration: underline;
}

.imageCol {
  display: none;
}

@media screen and (min-width: 600px) {
  .imageAboveCopy {
  }
  
  .imageCol {
    display: flex;
  }
  
  .imageAboveCopy {
    /* margin: 20px auto; */
    display: none;
  }

  .grid {
    grid-template-columns: 1.5fr 1fr;
    gap: 0 80px;
    align-items: center;
    justify-content: center;
  }

  .projectsLink {
    font-size:1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    /* height: 1000px; */
  }

  .img {
    width: 260px;
    height: 280px;
  }
  .imageCol,
  .imageAboveCopy {
    width: 280px;
    height: 300px;
    top: 20px;
  }

  /* .grid {
    grid-template-columns: 1.5fr 1fr;
    gap: 0 80px;
  } */
}

@media screen and (min-width: 1008px) {
  .img {
    /* width: 500px; */
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    gap: 0 120px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    /* height: 800px; */
  }
}
