.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  gap: 30px 0;
}

.container {
  /* margin-top:500px; */
  padding: 250px 0 0 0;
  height: 1000px;
}

.sectionTitle {
  text-transform: uppercase;
  color: #38b6ff;
  font-weight: 400;
  font-size: 22px;
}

.sectionDescription {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.textCol {
  /* border:1px solid red; */
}

.imageCol {
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0px 20px rgb(0 0 0 / 15%);
}

.projectsLink {
  display: inline-block;
  text-decoration: underline;
}

@media screen and (min-width: 1008px) {
  .grid {
    grid-template-columns: 1.5fr 1fr;
    gap: 0 120px;
  }

  .img {
    width: 500px;
  }
}
