.container {
  border-radius: 50%;
  background: #fff;
  color: #38b6ff;
  font-size: 24px;
  display: flex;
  position: absolute;
  bottom: 85px;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  cursor: pointer;
  box-shadow: 0 8px 9px #9ca3af;
  transition: all 0.3s;
}

.container:hover {
  transform: scale(1.05);
}

.chevronContainer {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  font-size: 1.5rem;
}

.bottomChevron {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    bottom: 100px;
  }
}

@media screen and (min-width: 1008px) {
  .container {
    left: 92%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    left: 94%;
  }
}
