.footerHomepage,
.footerExperience {
  display: flex;
  flex: 1;
  padding: 1.3rem 0;
  border-top: 1px solid #e1e1e1;
  justify-content: center;
  background: #fff;
  align-items: center;
  margin-top: 4.5rem;
  height: auto;
  width: 100%;
  /* For back to top:  */
  position: relative;
}

.footerText {
  margin: 0;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .footerHomepage {
    margin-top: 40rem;
  }

  .footerText {
    font-size: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .footerHomepage {
    margin-top: 38rem;
    padding: 1.4rem 0;
  }
}

@media screen and (min-width: 1008px) {
  .footerHomepage {
    margin: 150px 0 0 0;
  }
}
