.firstLevel,
.secondLevel {
  position: fixed;
  background-color: #fff;
  width: 50%;
  height: 100vh;
  left: 0;
  top: 0;
}

.secondLevel {
  padding: 0 30px;
  width: 100%;
  opacity: 1;
}

.thirdLevel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  right: 15px;
}

.menuCloseContainer {
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 8px 9px #9ca3af;
  transition: all 0.3s;
}

.menuCloseContainer:hover {
  transform: scale(1.05);
}

.menuClose {
  background:none;
  border:none;
  cursor: pointer;
}

.menuTagline {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.links {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px 0;
  margin-top: 40px;
  padding: 0;
  font-size: 1.2rem;
}

.link {
  display: inline;
  transition: all 0.3s;
}

.mobileConnectContainer {
  position: absolute;
  bottom: 25px;
}

.mobileConnect {
  /* color: #38b6ff; */
  color: #1279c8;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}

.socials {
  display: flex;
  justify-content: space-between;
  gap: 0 25px;
}

.icon {
  border-radius: 50%;
  background: #fff;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 8px 9px #9ca3af;
  transition: all 0.3s;
  margin-top: 10px;
}

.icon:hover {
  transform: scale(1.05);
}

/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * @link https://github.com/h5bp/main.css/issues/12#issuecomment-321106995
 */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (min-width: 768px) {
  .mobileConnectContainer {
    bottom: 40px;
  }

  .socials {
    justify-content: space-between;
    gap: 0 40px;
  }
}
