.navbar,
.shadow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.1s;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 3;
  margin-top: 10px;
}

.shadow {
  box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
}

.logo {
  /* position: relative; */
  /* right: 20px; */
}

.links {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
}

.link {
  margin: 5px 15px;
}

.name {
  color: #38b6ff;
  /* font-weight: 40; */
  font-size: 1.4rem;
  letter-spacing: 1px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .name {
    color: #38b6ff;
    /* font-weight: 40; */
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  /* .logo {
    right: 10px;
  } */
  /* .logo {
    right: 0px;
  } */
}
@media screen and (min-width: 1008px) {
  .name {
    color: #38b6ff;
    /* font-weight: 40; */
    font-size: 2rem;
    letter-spacing: 1px;
  }
  /* .logo {
    right: 10px;
  } */
  /* .logo {
    right: 0px;
  } */
}
